.alert {
    min-height: 52px;
}

.alert .close {
    font-size: 14px;
}

.san-modal-content{
    max-height: 500px;
    overflow: auto;
    border-bottom:1px solid #e5e5e5;
    padding-bottom: 10px;
}
.san-modal-buttons{
	margin-top: 15px;
}
.san-modal-buttons button {
    margin: 0px 5px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    border-radius: 4px;
    margin:5px 0px;
}

.pagination-msg {
    display: inline-block;
    padding-left: 0;
    margin:5px 0px;
}

.pagination-msg > span:first-child {
    margin-left: 6px;
}

.pagination-msg > span {
    float: left;
    padding: 6px 0;
    line-height: 1.42857143;
}

.pagination-msg > span + input.form-control {
    float: left;
    width: 50px;
    margin-right: 5px;
    text-align: center;
}